@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
body,
html,
#root {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	font-family: 'B612', sans-serif;
}

.body-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee;
	font-family: inherit;
	overflow: auto;
}

.authPanel {
	width: 90%;
	height: 60%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.authPanel h3 {
	margin: 0px;
	margin-top: 15px;
}

.signup,
.login {
	width: 25%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
	padding-left: 50px;
	border: 1px solid rgba(68, 68, 199);
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: inherit;
}
.signup {
	border-left: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: visible;
	position: relative;
}
.signup::before {
	content: '';
	position: absolute;
	top: 10%;
	left: 0px;
	width: 1px;
	height: 80%;
	background-color: rgb(226, 226, 226);
}

.login {
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
@media (max-width: 800px) {
	.body-wrapper {
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
	.authPanel {
		flex-flow: column nowrap;
		height: fit-content;
	}
	.login,
	.signup {
		height: fit-content;
		width: 50%;
		border: 1px solid rgba(68, 68, 199);
		border-radius: 1px;
	}
	.signup {
		padding-bottom: 10px;
	}
	.signup::before {
		width: 0px;
	}
}

@media (max-width: 450px) {
	.body-wrapper {
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
	.authPanel {
		flex-flow: column nowrap;
		height: fit-content;
	}
	.login,
	.signup {
		height: fit-content;
		width: 80%;
		border: 1px solid rgba(68, 68, 199);
		border-radius: 1px;
	}
	.signup {
		padding-bottom: 10px;
	}
	.signup::before {
		width: 0px;
	}
}
